h2 {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

#doneTaskList {
  .clickTask {
    text-decoration: line-through;
  }
}

#taskList {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.list_container {
  width: 13rem;
}

.trash:hover,
.star:hover {
  cursor: pointer;
}
