body {
  background-color: aliceblue;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 100svh;
}
h2,
h1 {
  color: navy;
}

#taskList,
#doneTaskList {
  margin: 10px 0;
}

.hide {
  display: none;
}

#doneTaskList {
  > * {
    padding: 3px 10px;
    background-color: rgb(229, 179, 179);
  }
  .clickTask {
    text-decoration: line-through;
  }
}

#taskList {
  display: flex;
  flex-direction: column;
  > * {
    padding: 3px 10px;

    background-color: rgb(187, 219, 246);
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
.sumbmit_flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-end;
}
.list_container {
  width: 18rem;
}

.trash:hover,
.star:hover,
button:hover {
  cursor: pointer;
}

.star {
  width: 1rem;
  height: 1rem;
}

.task_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
